.page_title {
  height: 300px;
  color: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  &__title {
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: 1;
  }
  &__breadcrumb {
    display: flex;
    justify-content: center;
    &__item {
      font-size: 18px;
      text-transform: capitalize;
      line-height: 1;
    }
  }
}
